@model TravelTripProject.Models.Siniflar.Blog
@{
    ViewBag.Title = "YeniBlog";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<form method="post" class="form-group">
    @Html.LabelFor(x => x.blogBaslik)
    @Html.TextBoxFor(x => x.blogBaslik, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.blogTarih)
    @Html.TextBoxFor(x => x.blogTarih, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.blogImage)
    @Html.TextBoxFor(x => x.blogImage, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.blogAciklama)
    @Html.TextAreaFor(x => x.blogAciklama, new { @class = "form-control" })
    <br />

    <button class="btn btn-primary">Ekle</button>
</form>

